<header class="bg-linear-to-t from-[#e1f5e5] to-[#d2f0fa]">
  <nav class="max-w-[1440px] mx-auto px-4 py-3">
    <div class="flex justify-between items-center mx-auto">
      <a href="https://flowbite.com" class="flex items-center">
          <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-9" alt="Flow3D Logo" />
          <span class="self-center text-xl font-semibold whitespace-nowrap">LEAH 3D</span>
      </a>
      <div class="justify-between items-center">
        <ul class="flex flex-row mt-0 gap-8 max-sm:gap-3">
          <li><a routerLink="/" class="py-2 text-gray-600 hover:border-b">Home</a></li>
          <li><a routerLink="/company" class="py-2 text-gray-600 hover:border-b">Company</a></li>
          <li><a routerLink="/marketplace" class="py-2 text-gray-600 hover:border-b">Marketplace</a></li>
        </ul>
      </div>
      <div class="flex items-center gap-5 max-sm:gap-2">
        <a routerLink="/login" class="text-gray-700 text-sm">Log in</a>
        <a routerLink="/register" class="text-gray-700 text-sm">Register</a>
      </div>
    </div>
  </nav>
</header>