<main class="relative"> <!-- adicionado relative -->
  <img
    src="https://images3dproducts.s3.us-east-1.amazonaws.com/heroimage.webp"
    alt="Hero Image"
    class="w-[1440px] block z-0 mx-auto"
  />
<!--
  <div class="absolute inset-0 z-10 flex flex-col md:flex-row max-w-[1440px] mx-auto">
    <div class="w-full flex flex-col pb-[136px] pt-[138px] font-inter md:w-1/2">
      <div class="mx-auto">
        <h1 class="text-b800 font-semibold text-[32px] mb-3">Fresh Arrivals Online</h1>
        <h4 class="text-b600 text-sm mb-12">Discover Our Newest Collection Today.</h4>
        <button>View Collection</button>
      </div>
    </div>
  </div>
-->
</main>