<main class="">
  <app-hero></app-hero>

  <section class="p-4 max-w-[1440px] mx-auto">

    <h2 class="text-4xl font-bold mb-4 text-center mt-5">Lampshade</h2>

    <div class="flex flex-wrap max-lg:justify-center justify-between">
      @for (item of shade(); track item.id) {
        <app-shade-card [shade]="item"></app-shade-card>
      }
    </div>
    
    <h2 class="text-4xl font-bold mb-4 text-center mt-5">Bases</h2>

    <div class="flex flex-wrap max-lg:justify-center justify-between">
      @for (item of base(); track item.id) {
        <app-base-card [base]="item"></app-base-card>
      }
    </div>
  </section>

</main>
