<div class="p-4">
  <div class="w-72 h-[410px] shadow-md rounded-xl overflow-hidden hover:shadow-lg shadow-black-500 bg-slate-50">
    <img
      [src]="base().image"
      [alt]="base().name"
      width="288"
      height="248"
      class="w-full h-62 object-cover"
    />

    <div class="p-4 space-y-5">
      <div class="flex justify-between">
        <h3 class="text-lg font-semibold">{{ base().name }}</h3>
        <a
          [attr.href]="base().url"
          target="_blank"
          rel="noopener noreferrer"
          class="bg-green-800 text-slate-100 rounded-md py-1 px-2 inline-block text-center"
        >
          View 3D
        </a>
      </div>

      <p class="text-gray-600">R$ {{ base().price.toFixed(2) }}</p>

      <button
        type="button"
        [routerLink]="['/product', base().id]" 
        class="bg-green-800 text-slate-100 font-bold w-full rounded-md py-1"
      >
        View details
      </button>

    </div>
  </div>
</div>