/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "tailwindcss-primeui";

body {
  /*background: linear-gradient(180deg, #e1f5e5 0%, #d2f0fa 100%);*/
  background: rgb(231, 232, 233)
}
